    <ion-header>
      <ion-toolbar>
        <!-- <ion-title>landing</ion-title> -->
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-card class="welcome-card">
        <ion-img style="width: 350px; height: 140px;" src="/assets/logo.png"></ion-img>
        <ion-card-header>
          <ion-card-subtitle>Telecom Center</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
        </ion-card-content>
      </ion-card>
    </ion-content>
    <ion-footer>
      <ion-toolbar>
          <ion-row>
            <ion-col>
              <ion-button color="primary" expand="full" color="primary" (click)="login()">Login</ion-button>
            </ion-col>
          </ion-row>
      </ion-toolbar>
    </ion-footer>