    <ion-header>
      <ion-toolbar>
        <ion-button color="light" (click)="dismissLogin()">Close</ion-button>
        <ion-title>Login</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content padding>
      <form #form="ngForm" (ngSubmit)="login(form)" method="post">
        <ion-item>
          <ion-label position="floating">Email</ion-label>
          <ion-input ngModel type="email" name="email"></ion-input>
        </ion-item>
      
        <ion-item>
          <ion-label position="floating">Password</ion-label>
          <ion-input ngModel type="password" name="password"></ion-input>
        </ion-item>
      
        <ion-button type="submit" expand="full" color="primary">Login</ion-button>
      </form>
    </ion-content>