    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Dashboard</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content padding>
      <div *ngIf="user != undefined">
          Welcome {{ user["name"] }}
      </div>

    <ion-content padding>
      <form [formGroup]="formPredict" (ngSubmit)="prediction()" method="post">

        <ion-item>
            <ion-label>Contract</ion-label>
            <ion-select formControlName="Contract" placeholder="Select One" interface="action-sheet">
                <ion-select-option value="Month-to-month">Month-to-month</ion-select-option>
                <ion-select-option value="One year">One year</ion-select-option>
                <ion-select-option value="Two year">Two year</ion-select-option>
            </ion-select>
        </ion-item>

      
        <ion-item>
            <ion-label>Tenure</ion-label>
            <ion-input formControlName="tenure" type="number" value=""></ion-input>
        </ion-item>


        <ion-item>
            <ion-label>InternetService</ion-label>
            <ion-select formControlName="InternetService"  placeholder="Select One" interface="action-sheet">
              <ion-select-option value="Fiber optic">Fiber optic</ion-select-option>
              <ion-select-option value="DSL">DSL</ion-select-option>
              <ion-select-option value="No">No</ion-select-option>
            </ion-select>
        </ion-item>


        <ion-item>
            <ion-label>PaymentMethod</ion-label>
            <ion-select formControlName="PaymentMethod"  placeholder="Select One" interface="action-sheet">
              <ion-select-option value="Electronic check">Electronic check</ion-select-option>
              <ion-select-option value="Bank transfer (automatic)">Bank transfer (automatic)</ion-select-option>
              <ion-select-option value="Credit card (automatic)">Credit card (automatic)</ion-select-option>
              <ion-select-option value="Mailed check">Mailed check</ion-select-option>
            </ion-select>
        </ion-item>


        <ion-item>
            <ion-label>PaperlessBilling</ion-label>
            <ion-toggle formControlName="PaperlessBilling" ng-true-value="Yes" ng-false-value="No"></ion-toggle>
        </ion-item>


        <ion-item>
            <ion-label>OnlineSecurity</ion-label>
            <ion-select formControlName="OnlineSecurity"  placeholder="Select One" interface="action-sheet">
              <ion-select-option value="Yes">Yes</ion-select-option>
              <ion-select-option value="No">No</ion-select-option>
              <ion-select-option value="No internet service">No internet service</ion-select-option>
            </ion-select>
        </ion-item>


        <ion-item>
            <ion-label>TechSupport</ion-label>
            <ion-select formControlName="TechSupport"  placeholder="Select One" interface="action-sheet">
              <ion-select-option value="Yes">Yes</ion-select-option>
              <ion-select-option value="No">No</ion-select-option>
              <ion-select-option value="No internet service">No internet service</ion-select-option>
            </ion-select>
        </ion-item>


        <ion-item>
            <ion-label>Dependents</ion-label>
            <ion-toggle formControlName="Dependents"  ng-true-value="Yes" ng-false-value="No"></ion-toggle>
        </ion-item>


        <ion-item>
            <ion-label>Partner</ion-label>
            <ion-toggle formControlName="Partner"  ng-true-value="Yes" ng-false-value="No"></ion-toggle>
        </ion-item>


        <ion-item>
            <ion-label>SeniorCitizen</ion-label>
            <ion-toggle formControlName="SeniorCitizen"  ng-true-value="1" ng-false-value="0"></ion-toggle>
        </ion-item>


        <ion-item>
            <ion-label>OnlineBackup</ion-label>
            <ion-select formControlName="OnlineBackup"  placeholder="Select One" interface="action-sheet">
              <ion-select-option value="Yes">Yes</ion-select-option>
              <ion-select-option value="No">No</ion-select-option>
              <ion-select-option value="No internet service">No internet service</ion-select-option>
            </ion-select>
        </ion-item>
                
        
        <ion-item>
            <ion-label>DeviceProtection</ion-label>
            <ion-select formControlName="DeviceProtection"  placeholder="Select One" interface="action-sheet">
              <ion-select-option value="Yes">Yes</ion-select-option>
              <ion-select-option value="No">No</ion-select-option>
              <ion-select-option value="No internet service">No internet service</ion-select-option>
            </ion-select>
        </ion-item>


        <ion-item>
            <ion-label>StreamingTV</ion-label>
            <ion-select formControlName="StreamingTV"  placeholder="Select One" interface="action-sheet">
              <ion-select-option value="Yes">Yes</ion-select-option>
              <ion-select-option value="No">No</ion-select-option>
              <ion-select-option value="No internet service">No internet service</ion-select-option>
            </ion-select>
        </ion-item>


        <ion-item>
            <ion-label>MonthlyCharges</ion-label>
            <ion-input formControlName="MonthlyCharges" type="number" value=""></ion-input>
        </ion-item>

      
        <ion-button type="submit" expand="full" color="primary">Predict</ion-button>
      </form>
      <div id="result"></div>
    </ion-content>

</ion-content>


<ion-footer>
  <ion-toolbar>
    <ion-title>{{ pageTitle }}</ion-title>
  </ion-toolbar>
</ion-footer>


